<ion-view>
  <ion-header-bar class="bar-stable">
    <h1 class="title">Dinossaurs</h1>
    <button class="button button-clear button-positive icon ion-ios-plus-empty" ng-click="homeCtrl.openNewDinoModal()"></button>    
  </ion-header-bar>

  <ion-content>
    <ion-list>
      <ion-item collection-repeat="dinossaur in homeCtrl.dinossaurs | orderBy: 'nome'" item-width="100%">
        <ion-option-button class="button-assertive" ng-click="homeCtrl.removeDinossaur(dinossaur)">
          Remover
        </ion-option-button>
        <ion-option-button class="button-calm" ng-click="homeCtrl.openEditDinoModal(dinossaur)">
          Editar
        </ion-option-button>
          
        <h2>{{dinossaur.nome}}</h2>
        <p>Altura: {{dinossaur.altura}}m</p>
        <p>Comprimento: {{dinossaur.comprimento}}m</p>        
      </ion-item>
    </ion-list>

    <ion-infinite-scroll
      ng-if="homeCtrl.dinossaurs.length == 0"
      spinner="android"
      on-infinite="homeCtrl.loadAllDinossaursWithAngularFire()"
      distance="1%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>